body {
  display: flex;
  margin: 0 auto;
  background: linear-gradient(91deg, #a5bcff, #9dc6ff 70%, #f1eefc);
}
.Left {
  position: fixed;
}
.flex-column {
  width: 200px;
  background-color: transparent;
}
.Left ul {
  margin-top: 100px;
  border-right: 1px solid black;
}
.Left ul li a {
  padding-left: 40px;
  width: 100%;
  color: black;
  border-top: 2px solid #000;
}
.Left ul li:last-child a {
  border-bottom: 2px solid #000;
}
.Right {
  flex: 1;
  margin-top: 20px;
  margin-left: 200px;
}
h1 {
  text-align: center;
}
.list table {
  padding: 0;
  margin: 21px auto;
  width: 800px;
}
.list table thead tr th {
  vertical-align: inherit;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  background-color: #337ab7;
  border: 1px solid black !important;
}

.list table tbody td {
  padding: auto;
  margin: auto;
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
  vertical-align: inherit;
  border: 1px solid black;
}
.list table tbody tr:nth-child(odd) td:first-child {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url(../img/book3.jpeg) no-repeat center;
  background-size: 100%;
}
.list table tbody tr:nth-child(even) td:first-child {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url(../img/book2.jpeg) no-repeat center;
  background-size: 100%;
}

.btn-add {
  position: absolute;
  right: 20px;
  top: 120px;
}
